build

External Plug-in Libraries
.sonarlint
*/target/
runtime-server.product
org.idempiere.fitnesse.server/FitNesseRoot
syntax: regexp
adempiere
**/lib/*.jar
fitnesse/fitnesse.jar

lib/plugins
plugins/*.class
adempiere-local.properties

.metadata
keystore/*
log/*
PostgreSQL/*
*.log
Adempiere.properties
idempiere.properties
AdempiereEnv.properties
idempiereEnv.properties
packages/*
work/*
hazelcast.xml

server.product*.launch

.class

jettyhome/
.recommenders/
RemoteSystemsTempFiles

fitnesse/FitNesseRoot/FitLibraryWeb/*.zip
fitnesse/bin
selenese/bin
ztl/bin

